node_modules
dist
build
*.d.ts.map
*.js.map
.turbo
.astro
/packages/website/.astro
storybook-static
packages/videos/out
packages/videos/public
coverage
test-results
qa
_scripts/__pycache__
.DS_Store

flatpak/pnpm-sources.json
flatpak/cargo-sources.json
flatpak/.flatpak-cargo-generator.py
packages/player/src-tauri/tauri.media.generated.json
/packages/player/src-tauri/icons/android/
/packages/player/src-tauri/icons/ios/
